<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width.advice, initial-scale=1.0">
    <title>Projeto mapa</title>
    <meta name="autor" content="Gui">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
        #map{
            height: auto;
            width: 830px;
        }
    </style>
</head>
<body style ="font-family: 'lato', sans-serif; margin: 0">
<div style="display:flex;
            flex-direction:row;
            gap: 1%">
    <div id="map" ></div>

    <div>
        <div style="padding: 15px; margin-bottom: 10px">
            <h2 style="font-size: 40px"
                    th:text="${local.nome}"></h2>
            <div style="display:flex;
                        flex-direction: row;
                        gap: 1%;
                        font-size:17px;
                        background-color: #fafafa;
                        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                        padding: 0 15px;
                        margin-bottom: 7px">
                <p style="font-weight:bold">Descrição:</p>
                <p th:text="${local.descricao}"></p>
            </div>
            <div style="display:flex;
                        flex-direction: row;
                        gap: 1%;
                        font-size:17px;
                        background-color: #fafafa;
                        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                        padding: 0 15px;
                        margin-bottom: 7px">
                <p style="font-weight:bold">Endereço:</p>
                <p th:text="${local.rua + ' ' + local.numero + ', ' + local.bairro}"></p>
            </div>
            <div style="display:flex;
                        flex-direction: row;
                        gap: 1%;
                        font-size:17px;
                        background-color: #fafafa;
                        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                        padding: 0 15px;
                        margin-bottom: 7px">
                <p style="font-weight:bold">Data de Cadastro:</p>
                <p th:text="${local.dataCadastro}"></p>
            </div>
            <div style="display:flex;
                        flex-direction: row;
                        gap: 1%;
                        font-size:17px;
                        background-color: #fafafa;
                        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                        padding: 0 15px;
                        margin-bottom: 7px">
                <p style="font-weight:bold">Autor do Cadastro:</p>
                <p th:text="${local.autor}"></p>
            </div>
            <div style="display:flex;
                        flex-direction: row;
                        gap: 1%;
                        font-size:17px;
                        background-color: #fafafa;
                        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                        padding: 0 15px;
                        margin-bottom: 7px">
                <p style="font-weight:bold">Nota Média:</p>
                <p th:text="${local.media}"></p>
            </div>
            <p th:text="${local.recursos}"></p>

            <h4 style="font-size: 30px">
                Avaliações:</h4>
            <ul style=" list-style: none;
                        font-size:17px;
                        background-color: #fafafa;
                        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                        padding: 15px 15px;
                        margin-bottom: 7px"
                th:if="${local.avaliacoes != null}">
                <li th:each="avaliacao : ${local.avaliacoes}" >
                    Nota: <span th:text="${avaliacao.nota}"></span><br/>
                    Comentário: <span th:text="${avaliacao.comentario}"></span><br/>
                    Data: <span th:text="${avaliacao.data}"></span><br/>
                    <hr/>
                </li>
            </ul>
        </div>

        <form id="avaliacaoForm" th:action="@{'/avaliacao/publicar/' + ${local.id}}" method="post" onsubmit="return enviarAvaliacao()"
              style="padding:0 15px">
            <h4 style="font-size: 30px">Avaliar o Local:</h4>
            <div style="display:grid; grid-template-columns: 1fr 1fr; gap: 1%">
                <div style="display: flex;
                            justify-content:space-between;
                            background-color: #fafafa;
                            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                            font-size: 17px;
                            padding: 17px 20px;
                            gap: 1%;
                            align-items: center">
                    <label for="nota">Nota:</label>
                    <input type="number" id="nota" name="nota" required>
                </div>

                <div style="display: flex;
                            justify-content:space-between;
                            background-color: #fafafa;
                            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                            font-size: 17px;
                            padding: 17px 20px;
                            gap: 1%;
                            align-items: center">
                    <label for="comentario">Comentário:</label>
                    <textarea id="comentario" name="comentario" required></textarea>
                </div>
                <div style="display: flex;
                            justify-content:space-between;
                            background-color: #fafafa;
                            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                            font-size: 17px;
                            padding: 17px 20px;
                            gap: 1%;
                            align-items: center">
                    <label for="nomeAutor">Nome do Autor:</label>
                    <input type="text" id="nomeAutor" name="nomeAutor" required>
                </div>
                <button style="border: none;
                               background-color: #fafafa;
                               box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                               font-size: 17px;"
                        type="submit">Enviar Avaliação</button>
            </div>
        </form>
        <div style="margin-bottom: 50px"></div>
    </div>
</div>



<script th:inline="javascript">

    var streetNumber = [[${numero}]];
    var street = [[${rua}]];
    var neighborhood = [[${bairro}]];
    var city = "Garanhuns";
    var state = "Pernambuco";
    var country = "Brazil";

    function initMap() {
        var geocoder = new google.maps.Geocoder();
        var address = streetNumber + ' ' + street + ', ' + neighborhood + ', ' + city + ', ' + state + ', ' + country;

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();

                var map = new google.maps.Map(document.getElementById("map"), { center: { lat: latitude, lng: longitude }, zoom: 17 });

                var marker = new google.maps.Marker({
                    position: { lat: latitude, lng: longitude },
                    map: map,
                    title: 'Localização'
                });
            } else {
                console.error('Geocoding failed. Status: ' + status);
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAhefUroNgMWN6d8pKFFFLPrrNM9aaMSc&callback=initMap" async defer></script>



<script th:inline="javascript">
    async function enviarAvaliacao() {
        const nota = document.getElementById('nota').value;
        const comentario = document.getElementById('comentario').value;
        const nomeAutor = document.getElementById('nomeAutor').value;

        const avaliacaoData = {
            nota: parseFloat(nota),
            comentario: comentario,
            nomeAutor: nomeAutor
        };

        const urlAntesEnvio = "/local/ver-local?nome=" + encodeURIComponent([[${local.nome}]]);

        const response = await fetch("/avaliacao/publicar/" + local.id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify(avaliacaoData)
        });

        if (response.ok) {
            console.log('Avaliação enviada com sucesso!');

            window.location.replace(urlAntesEnvio);
        } else {
            console.error('Erro ao enviar avaliação:', response.statusText);
        }

        return false;
    }
</script>

</body>
</html>
