<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width.advice, initial-scale=1.0">
    <title>LISTA DE LOCAIS</title>
    <meta name="autor" content="Gui">
</head>
<body>
    <h2>Lista de Locais</h2>

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <!-- Adicione mais colunas conforme necessário -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="local : ${locais}">
            <td th:text="${local.nome}"></td>
            <td th:text="${local.descricao}"></td>
            <!-- Adicione mais colunas conforme necessário -->
        </tr>
        </tbody>
    </table>
</body>